* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: hsla(0, 0%, 0%, 0.73);
}

.App {
  margin: 3%;
  padding: 1%;
}

.parking-spot {
  margin: 5px;
  padding: 5px;
}

.permanent-spots {
  margin-top: 100px;
  margin-bottom: 50px;
}
