* {
  box-sizing: border-box;
}

body {
  background-color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

.App {
  color: white;
  margin: 2%;
  padding: 1%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: inherit;
  }
}
