* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  color: white;
  margin: 2%;
  padding: 1%;
}
