@media (max-width: 320px) {
  .ui.labeled.input:not([class*='corner labeled']) .label:first-child {
    min-width: 50%;
  }
}

.ui.labeled.input:not([class*='corner labeled']) .label:first-child {
  background-color: #03a9f4;
  color: #000000;
  min-width: 37%;
  text-align: center;
  font-weight: 600;
}

.ui.labeled.input:not([class*='corner labeled']) .label:first-child + input {
  font-weight: 900;
  letter-spacing: 0.05vh;
}
