.parking-spot {
  margin: 5px;
  padding: 5px;
}

.spot-number {
  margin-bottom: 2%;
  font-size: 1.5rem;
}
.parking-place {
  max-height: 40vh;
  max-width: 20vh;
  min-width: 5vh;
  min-height: 10vh;
}

.parking-place:hover {
  cursor: pointer;
  filter: invert(75%) sepia(55%) saturate(4330%) hue-rotate(100deg)
    brightness(94%) contrast(103%);
}

#previous:hover,
#next:hover {
  cursor: pointer;
}
