$freeColor: invert(70%) sepia(62%) saturate(4020%) hue-rotate(103deg)
  brightness(97%) contrast(102%);

$occupiedColor: invert(12%) sepia(95%) saturate(3770%) hue-rotate(353deg)
  brightness(97%) contrast(103%);

$hoverColor: invert(97%) sepia(75%) saturate(7458%) hue-rotate(326deg)
  brightness(103%) contrast(98%);

// Style element on inital render.
img {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 40vh;
  max-width: 20vh;
  min-width: 5vh;
  min-height: 10vh;
  filter: $freeColor;
  &:hover {
    cursor: pointer;
    filter: $hoverColor;
  }
}
.parking-spot {
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  padding: 5px;
}
.spot-number {
  margin-bottom: 2%;
  font-size: 1.5rem;
}
.parking-place-free {
  max-height: 40vh;
  max-width: 20vh;
  min-width: 5vh;
  min-height: 10vh;
  filter: $freeColor;
}
.parking-place-occupied {
  max-height: 40vh;
  max-width: 20vh;
  min-width: 5vh;
  min-height: 10vh;
  filter: $occupiedColor;
}
