.segment {
  margin: 6vh;
}
.free-spots {
  font-size: 1.7rem;
  line-height: 4.8vh;
}
.free-spots-number {
  font-weight: 700;
  font-size: 2.8rem;
}
.no-free-spots {
  font-size: 1.8rem;
  line-height: 4.8vh;
}
